# clangとmusl linker専用の一回実行jailです。
name: "smart-c-compile"
mode: ONCE
log_level: ERROR
hostname: "smart-c-compile"
cwd: "/workspace"
time_limit: 5
max_cpus: 1

clone_newnet: true
clone_newuser: true
clone_newns: true
clone_newpid: true
clone_newipc: true
clone_newuts: true
clone_newcgroup: false
keep_caps: false
keep_env: false
disable_no_new_privs: false

rlimit_as: 512
rlimit_core: 0
rlimit_cpu: 5
rlimit_fsize: 1
rlimit_nofile: 64
rlimit_nproc: 8
rlimit_nproc_type: VALUE

uidmap {
    inside_id: "65534"
    outside_id: ""
    count: 1
}
gidmap {
    inside_id: "65534"
    outside_id: ""
    count: 1
}

envar: "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
envar: "HOME=/nonexistent"
envar: "LC_ALL=C"
envar: "TMPDIR=/tmp"

mount {
    src: "/bin"
    dst: "/bin"
    is_bind: true
    rw: false
}
mount {
    src: "/usr"
    dst: "/usr"
    is_bind: true
    rw: false
}
mount {
    src: "/lib"
    dst: "/lib"
    is_bind: true
    rw: false
    mandatory: false
}
mount {
    src: "/lib64"
    dst: "/lib64"
    is_bind: true
    rw: false
    mandatory: false
}
mount {
    src: "/dev/null"
    dst: "/dev/null"
    is_bind: true
    rw: true
}
mount {
    src: "/dev/urandom"
    dst: "/dev/urandom"
    is_bind: true
    rw: false
}
mount {
    dst: "/tmp"
    fstype: "tmpfs"
    rw: true
    options: "size=64M"
    nosuid: true
    nodev: true
    noexec: true
}
